*{
    margin: 0;
    padding:0;

}
.page_header {
    background: linear-gradient(210deg, #2a2a50, #235d8d);
    color: aliceblue;
    text-align: center;
}

.search_fields {
    text-align: center;
    margin: 2vh;
}

.search_title {
    margin: 2h;
}
.text_container {
    margin: 2vh;
}

.searchBtn {
    background-color: #69a7f7;
    border-color: #ffffff;
    font-style: normal;
    color: #ffffff;
    border-radius: 15px;
    padding: 7px 31px;
}

.currentforecast_container{
    background: #ffffff;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    line-height: 30px;
}

.futureweather_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 20px;
}

.day1_furtureforecast {
    background: #2a2a50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: 10px;
}

.day2_furtureforecast{
    background: #2a2a50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: 10px;
}
.day3_furtureforecast {
    background: #2a2a50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: 10px;
}

.day4_furtureforecast{
    background: #2a2a50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: 10px;
}
.day5_furtureforecast {
    background: #2a2a50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: 10px;
}

