*{
    margin: 0;
    padding:0;

}
.page_header {
    background: linear-gradient(210deg, #2a2a50, #235d8d);
    color: aliceblue;
    text-align: center;
}

.search_fields {
    text-align: center;
    margin: 2vh;
}

.search_title {
    margin: 2h;
}
.text_container {
    margin: 2vh;
}

.searchBtn {
    background-color: #69a7f7;
    border-color: #ffffff;
    font-style: normal;
    color: #ffffff;
    border-radius: 15px;
    padding: 7px 31px;
}

.currentforecast_container{
    background: #ffffff;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    line-height: 30px;
}

.futureweather_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 20px;
}

.day0_furtureforecast {
    background: linear-gradient(321deg, #2a2a50, #235d8d, #2038463b);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: solid #69a7f7 4px;
    box-shadow: 4px 6px #2038463b;
}

.day1_furtureforecast {
    background: linear-gradient(321deg, #2a2a50, #235d8d, #2038463b);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: solid #69a7f7 4px;
    box-shadow: 4px 6px #2038463b;

}

.day2_furtureforecast{
    background: linear-gradient(321deg, #2a2a50, #235d8d, #2038463b);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: solid #69a7f7 4px;
    box-shadow: 4px 6px #2038463b;
}
.day3_furtureforecast {
    background: linear-gradient(321deg, #2a2a50, #235d8d, #2038463b);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: solid #69a7f7 4px;
    box-shadow: 4px 6px #2038463b;
}

.day4_furtureforecast{
    background: linear-gradient(321deg, #2a2a50, #235d8d, #2038463b);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: solid #69a7f7 4px;
    box-shadow: 4px 6px #2038463b;
    /* -webkit-animation: day4_furtureforecast 1s ease-in-out infinite alternate;
    -moz-animation: day4_furtureforecast 1s ease-in-out infinite alternate;
    animation: day4_furtureforecast 1s ease-in-out infinite alternate; */
}


img {
    width: 8vw;
    height: 13vh;

}

/* @-webkit-keyframes day4_furtureforecast {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */

#futureheader{
    width: 15vw; 
}

