*{
    margin: 0;
    padding:0;

}
.page_header {
    background: linear-gradient(210deg, #2a2a50, #235d8d);
    color: aliceblue;
    text-align: center;
}

.search_fields {
    text-align: center;
    margin: 2vh;
}

.search_title {
    margin: 2h;
}
.text_container {
    margin: 2vh;
}

.currentforecast_container{
    background: #d7aff1;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin: 10px;


}

.furtureforecast_container {
    background: #2a2a50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    margin: 20px;
    border: 10px;
}
